* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_content {
    width: 1490px;
    display: flex;
    justify-content: space-between;
}

.header_content_container {
    display: flex;
    flex-direction: column;
    width: 67%;
    gap: 15px;
}

.header_content_container > hr {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.15);
    border: none;
}

.header_content_container_up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content_container_left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header_content_container_left > div {
    display: flex;
    align-items: center;
    gap: 3px;
}

.header_content_container_left > div > h5 {
    font-size: 16px;
}

.header_content_container_right {
    display: flex;
    gap: 10px;
}

.header_content_container_right > img {
    width: 28px;
    height: 28px;
}