* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: 'PT Sans Regular';
  src: url('/style/fonts/PT_Sans-Web-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url('/style/fonts/PT_Sans-Web-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'Raleway SemiBold';
  src: url('/style/fonts/Raleway-v4020-SemiBold.otf') format('woff2');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('/style/fonts/Raleway-v4020-Bold.otf') format('woff2');
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('/style/fonts/Raleway-v4020-Medium.otf') format('woff2');
}

@font-face {
  font-family: 'Raleway Regular';
  src: url('/style/fonts/Raleway-v4020-Regular.otf') format('woff2');
}

.main_container {
  width: 1490px;
}

.offer_fon {
  background-image: url('./img/fon.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 973px;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
}

.header_content {
  display: flex;
  justify-content: space-between;
}

.header_content_container {
  display: flex;
  flex-direction: column;
  width: 68%;
  gap: 15px;
}

.header_content_container > hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.header_content_container_up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content_container_left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header_content_container_left > div {
  display: flex;
  align-items: center;
  gap: 3px;
}

.header_content_container_left > div > h5 {
  font-size: 16px;
  font-family: 'PT Sans Regular';
  font-weight: 400;
}

.header_content_container_right {
  display: flex;
  gap: 10px;
}

.header_content_container_right > img {
  width: 28px;
  height: 28px;
}

.header_content_container_down {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header_content_container_down > a {
  font-size: 24px;
  font-family: 'Raleway SemiBold';
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
